/* tablet & mobile */
@media (max-width: 1024px) {
    .header {
        display: none;
    }

    .main {
        padding: 0;
    }

    .main__header {
        left: 20px;
    }

    .main__header-left,
    .main__header-right {
        gap: 10px;
    }

    .main__header-icon {
        display: block;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 7px;
        height: 20px;
    }

    .subcription {
        gap: 16px;
        left: 12%;
        right: 12%;
        top: 20%;
        bottom: 20%;
    }

    .subcription__choice {
        height: 80%;
        padding: 26px;
        height: 70%;
    }

    .choice__btn {
        bottom: 20px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
/* mobile */
@media (max-width: 739px) {
    :root {
        --subcription-text-size: 1rem;
        --subcription-title-size: 1.6rem;
    }
    .blockbuster__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        padding: 0 1rem 1rem;
    }
    .header-left__item {
        display: none;
    }

    .trending__header {
        margin-left: 1rem;
    }

    .blockbuster__header {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main__header-right {
        flex: 1;
        justify-content: space-evenly;
    }
    .main {
        margin: 0 4px;
    }

    .main__header {
        padding: 0 4px;
    }
    .subcription {
        gap: 16px;
        left: 12%;
        right: 12%;
        top: 20%;
        bottom: 20%;
    }

    .subcription__choice {
        height: 80%;
        padding: 20px;
        height: 70%;
    }

    .subcription {
        display: flex;
        /* flex-direction: column; */
        /* height: 400px; */
        overflow-x: auto;
        scroll-snap-type: x;
    }

    .subcription__choice {
        scroll-snap-align: start;
    }

    .subcription__basic {
        margin-left: 3rem;
    }

    .overlay {
        /* height: 200vh; */
    }
}
